<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile" fileName="c:/wwwlogs/pmm-server/pmm-server-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="standardfile" fileName="c:/wwwlogs/pmm-server\pmm-server-standard-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="console">
			<layout xsi:type="MicrosoftConsoleJsonLayout" includeScopes="true" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="pmm.*" minlevel="Debug" writeTo="standardfile"/>
		<logger name="pmm.*" minlevel="Debug" writeTo="console" final="true"/>
	</rules>
</nlog>